.nav {
    background-color: #333; 
    padding: 10px; 
    display: flex; 
    justify-content: space-between;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  
  .nav a {
    color: white; 
    text-decoration: none;
    margin-right: 10px; 
    padding: 8px 12px; 
    border-radius: 4px; 
  }
  
  .nav a:hover {
    background-color: #555;
  }
  
  .nav .active {
    background-color: green; 
  }

  .p {
    color: white;
  }

 
  